/* styles.css */
.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.timer {
    font-size: 18px;
    font-weight: bold;
}

.timer-low {
    color: red;
}

.timer-normal {
    color: black;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.city-image {
    display: block;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.answer-button {
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-button:disabled {
    cursor: not-allowed;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #f44336;
}

.feedback {
    font-size: 20px;
    margin-top: 20px;
    animation: fadeIn 0.5s ease;
}

.loading-question {
    font-size: '18px';
    color: '#666'
}

.navbar {
    background-image: linear-gradient(to bottom, #00c2ff, #0066c7);
    box-shadow: none;
    width: 100%;
}
  
.navbar-toolbar {
    display: flex;
    justify-content: space-between;
}
  
.nav-buttons-container {
    display: flex;
    gap: 8px;
}
  
@media (min-width: 960px) {
    .nav-buttons-container {
        gap: 16px;
    }
}
  
.nav-button {
    font-size: 0.75rem;
    padding-left: 8px;
    padding-right: 8px;
    min-width: auto;
}
  
@media (min-width: 1200px) {
    .nav-button {
        font-size: 1rem;
        padding-left: 16px;
        padding-right: 16px;
        min-width: 64px;
    }
}
  
.drawer-content {
    width: 250px;
}
  
.right-buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.leaflet-container {
    width: 100%;
    height: 600px;
}

@media (min-width: 960px) {
    .right-buttons-container {
        gap: 16px;
    }

}