.logo { 
    display: block;
    margin: 0 auto;
    height: auto;
}

.wave-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    animation: waveRise 8s ease-in-out forwards; /* Animación de subida */
}

.wave {
    width: 200%;
    height: auto;
    display: block;
    position: relative;
    animation: waveAnimation 8s infinite linear;
    opacity: 0.25; /* Opacidad de la ola */
    align-content: flex-end;
}

/* Animación del movimiento de la ola */
@keyframes waveAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
 
/* Animación para que la ola suba lentamente */
@keyframes waveRise {
    from {
        bottom: -50em;
    }
    to {
        bottom: -20em;
    }
}