body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    margin-top: 5vh; /* 50px a 5vh */
}

img {
    width: 30vw; /* 300px a 30vw */
    height: 20vh; /* 200px a 20vh */
    object-fit: cover;
    border-radius: 1em; /* 10px a 1em */
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2); /* 0 4px 8px a 0 0.4em 0.8em */
}

.option {
    display: block;
    margin: 1em auto; /* 10px a 1em */
    padding: 1em; /* 10px a 1em */
    width: 20vw; /* 200px a 20vw */
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.5em; /* 5px a 0.5em */
    font-size: 1rem; /* 16px a 1rem */
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #0056b3;
}

/* 🔹 Cambia el color de los botones cuando están deshabilitados */
.option:disabled {
    background-color: #bdc3c7;  /* Gris */
    color: #7f8c8d;  /* Texto más tenue */
    cursor: not-allowed;
}